:root {
	--header-h: 60px;
	--aside-w: 250px;
	--z-sticky: 50;

	--color-white: #fff;
	--color-primary: #0880AE;
	--color-secondary: #ccc;
	--color-dark: #444;
}

$space: 40px;
$bp-xl2: 1600px - $space;
$bp-xl1: 1400px - $space;
$bp-xl: 1200px - $space;
$bp-lg: 992px - $space;
$bp-md: 768px - $space;
$bp-sm: 576px - $space;

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 15px;
}
#app {
	display: flex;
}
.container {
	padding: 20px;
}
.box {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 1px #444;
}


/* HEADER */
.header {
	position: fixed;
	top: 0;
	left: var(--aside-w);
	right: 0;
	height: var(--header-h);
	background-color: var(--color-white);
	z-index: var(--z-sticky);
	border-bottom: 1px solid var(--color-secondary);
	box-shadow: 0 2px 5px #00000026;
}
.header__search {
	display: flex;
	height: inherit;
	box-sizing: border-box;
	padding: 10px;
}
.header__search-input {
	flex: 1 0 0;
	box-sizing: border-box;
	padding: 0 20px;
	font-size: 18px;
	color: #505050;
	background-color: #f1f1f1;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	transition: all .4s;
}
.header__search-input:focus {
	border-color: var(--color-primary);
	outline: none;
}


/* ASIDE */
.aside {
	position: fixed;
	width: var(--aside-w);
	min-height: 100vh;
	background-color: var(--color-primary);
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: bold;
	height: var(--header-h);
	color: var(--color-white);
	text-transform: uppercase;
	border-bottom: 1px solid #ffffff38;
	box-sizing: border-box;
}
.nav {
	padding: 20px;
}
.nav__list {
	padding: 0;
	margin: 0;
	list-style: none;

	&--pages {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ffffff38;
		margin-bottom: 20px;
	}
}
/* .nav__item {padding: 0 10px;} */
.nav__item:last-child > .nav__link {margin-bottom: 0;}
.nav__link {
	color: var(--color-white);
	font-size: 16px;
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	transition: background-color .4s;
	box-sizing: border-box;
	background-color: #38383840;
}
.nav__link:hover {
	background-color: #0000005e;
}


/* MAIN */
.main {
	margin-top: var(--header-h);
	margin-left: var(--aside-w);
	// flex: 1 0 0;
	width: calc(100% - var(--aside-w));
}

@media screen and (max-width: $bp-sm) {
	.main {margin-left: 0;}
	.header {left: 0;}
	.aside {display: none;}
	.container {padding: 20px 0;}
	.video__item {border-radius: 0 !important;}
	.video-page__player-wrap {
		border-radius: 0 !important;
		min-height: 300px;
		height: auto !important;
	}
}

@import './styles/video';
@import './styles/video-page';


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #455dbf var(--color-white);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--color-white);
}

*::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 8px;
	border: 2px solid var(--color-white);
}


/* MEDIA QUERYS */
