:root {
	// plyr
	--plyr-color-main: var(--color-primary);
}

:root[data-theme="dark"] {
	// multiselect
	--ms-bg: var(--color-dark);
	--ms-border-color: var(--color-secondary);
	--ms-dropdown-bg: var(--color-light);
	--ms-dropdown-border-color: var(--color-dark);
	--ms-option-bg-pointed: var(--color-primary);
	--ms-caret-color: var(--ms-clear-color);
}

.multiselect {width: inherit;}
.multiselect.is-active {box-shadow: none;}
.multiselect-option.is-selected {background: #4883b7;}
.multiselect-option.is-selected.is-pointed {background: #3c6d99;}
