@mixin mobile-wrap($top: 0, $rounded: 0, $px: 20px) {
	@media screen and (max-width: $bp-smx) {
		position: relative;
		
		width: calc(100% + #{$px} * 2);
		// width: calc(100% + var(--space));
		
		@if $top != 0 {
			top: -$px;
		}

		@if $rounded != 0 {
			border-radius: 0;
		}

		left: -$px;
	}
}