.header {
	z-index: var(--z-sticky);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: var(--header-h);
	background-color: var(--color-secondary);

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 calc(var(--space) / 2);

	&__nav {
		color: inherit;
		margin-right: 40px;

		@media screen and (max-width: $bp-md) {
			// display: none;
			position: absolute;
			top: var(--header-h);
			left: -150%;
			background: var(--color-dark);
			height: calc(100vh - var(--header-h));
			margin: 0;
			width: 100%;
			padding: 50px;
			margin-right: 0;

			transition: left .4s;
		}

		&.is-open {
			left: 0;
		}
	}
	&__nav-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;

		@media screen and (max-width: $bp-md) {
			flex-direction: column;
			margin-right: 0;
		}
	}
	&__nav-item {
		display: inline-flex;
		&:not(&:last-child) {
			margin-right: calc(var(--space) / 2);
		}

		@media screen and (max-width: $bp-md) {
			margin-right: 0 !important;
			margin-bottom: calc(var(--space) / 2);
		}
	}
	&__nav-link {
		color: var(--color-light);
		line-height: 18px;
		text-decoration: none;
		font-size: 18px;
		line-height: 30px;
		border-bottom: 2px solid transparent;
		transition: all .4s;
		
		&:hover {
			color: var(--color-white);
			border-color: var(--color-primary);
		}

		@media screen and (max-width: $bp-md) {
			font-size: 26px;
		}
	}
	&__search {
		flex: 1 0 0;
		position: relative;
	}
	&__search-input {
		min-height: var(--space);
		padding: 0 calc(var(--space) / 4);
		border-radius: var(--rounded);
		color: #444;
		width: 100%;
		line-height: normal;
		// max-width: 300px;
		transition: all .4s;
		float: right;

		&:focus {
			outline: none;
			// max-width: 100%;
		}
	}
	&__search-results {
		background: #fff;
		position: absolute;
		top: var(--space);
		left: 0;
		right: 0;
		width: inherit;
		border-bottom-left-radius: var(--rounded);
		border-bottom-right-radius: var(--rounded);
		box-shadow: 0 0 3px var(--color-secondary);
		display: grid;
		z-index: var(--z-sticky);
	}
	&__search-item {
		display: inline-flex;
		box-sizing: content-box;
		align-items: center;
		padding-left: calc(var(--space) / 4);
		text-decoration: none;
		color: var(--color-secondary);

		&:hover {color: var(--color-primary);}
	}
	&__nav-mobile {
		display: none;
	}
}