.video {
	&--mb {
		margin-bottom: calc(var(--space) / 2);
	}
	
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		grid-gap: calc(var(--space) / 2);

		&--max-w {
			grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
			justify-content: flex-start;
		}

		@media screen and (max-width: $bp-md) {
			grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
		}
		@media screen and (max-width: $bp-smx) {
			grid-template-columns: 1fr;
		}

		@include mobile-wrap();
	}
	&__item {
		text-decoration: none;
		border: 1px solid var(--color-light);
		min-height: 160px;
		border-radius: var(--rounded);
		overflow: hidden;
		position: relative;
		z-index: 5;
		max-width: calc(var(--space) * 10);

		@media screen and (max-width: 640px) {
			min-height: 200px;
			max-width: 100%;
		}

		@media screen and (max-width: $bp-smx) {
			max-width: 100%;
			border-radius: 0;
			border: 0;
			min-height: 220px;
		}
	}
	&__title {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		padding: 8px;
		background-color: rgba(0, 0, 0, 0.8);
		color: var(--color-nav-link);
		font-size: 14px;
		width: 100%;
		z-index: 3;

		@media screen and (max-width: $bp-smx) {
			font-size: 16px;
		}
	}
	&__preview {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: var(--color-secondary);
		background-image: url(https://via.placeholder.com/320x180?text=This+is+video+item);
		border-radius: inherit;
		z-index: 1;
		filter: brightness(var(--brightness));
		
		transition: transform .4s;
		&:hover {transform: scale(1.15)}
	}
	&__next-progress {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 50%;
		background-color: var(--color-primary);
		z-index: 2;
		opacity: .7;
		transition: width .4s;
	}
}
