:root {
	--color-primary: #42b983;
	--color-secondary: #2c3e50;
	--color-gray: #6c6c6c;
	--color-dark: #1b1b27;
	--color-white: #fff;
	--color-light: #eaecef;
	--color-text: #2c3e50;
	--color-text-hover: #d4d4d4;
	--color-nav-link: #d4d4d4;
	--color-nav-link-hover: #fff;

	--header-h: 70px;

	--z-sticky: 50;
	--space: 40px;
	--rounded: 4px;

	// plyr
	--plyr-color-main: var(--color-primary);
}

:root[data-theme="dark"] {
	--color-primary: #42b983;
	--color-secondary: #282836;
	--color-gray: #6c6c6c;
	--color-dark: #1b1b27;
	--color-white: #10101b;
	--color-light: #15151e;
	--color-text: #b4b4bb;
	--color-text-hover: rgb(230, 230, 230);
	--color-nav-link: #c7c7c7;
	--color-nav-link-hover: #dddddd;

	--header-h: 70px;

	--z-sticky: 50;
	--space: 40px;
	--rounded: 4px;

	// multiselect
	--ms-bg: var(--color-dark);
	--ms-border-color: var(--color-secondary);
	--ms-dropdown-bg: var(--color-light);
	--ms-dropdown-border-color: var(--color-dark);
	--ms-option-bg-pointed: var(--color-primary);
	--ms-caret-color: var(--ms-clear-color);
}

$space: 40px;
$bp-xl2: 1600px;
$bp-xl1: 1400px;
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
$bp-smx: 480px;

// normalize
@import '~normalize.css/normalize.min.css';

// mixins
@import '@/assets/styles/_mixins';

.multiselect {width: inherit;}
.multiselect.is-active {box-shadow: none;}
.multiselect-option.is-selected {background: #4883b7;}
.multiselect-option.is-selected.is-pointed {background: #3c6d99;}

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	padding-top: calc(var(--header-h) + (var(--space) / 2));
	min-height: 100vh;
	color: var(--color-text);
	background-color: var(--color-white);
	transition: all .4s;

	&.overflow-y {overflow-y: hidden;}
}
a, button {
	transition: .2s ease, color .2s ease, border .2s ease;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;

}
.container {
	padding: 0 calc(var(--space) / 2);
}

.page {
	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: calc(var(--space) / 2);

		margin-bottom: calc(var(--space) / 2);
	}
	&__title {
		color: inherit;
		font-size: 2rem;
		font-weight: bold;
	}
	&__category {
		min-width: 200px;
		max-width: 300px;
		width: 100%;

		@media screen and (max-width: $bp-smx) {
			max-width: 100%;
		}
	}
}

.btn-toggle-theme {
	position: fixed;
	right: var(--space);
	bottom: var(--space);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	cursor: pointer;
	box-shadow: 0 0 4px var(--color-dark);
	z-index: var(--z-sticky);

	& svg {
		width: 18px;
		height: 18px;
		color: var(--color-dark);
	}

	&:hover {background: #ebebeb;}

	@media screen and (max-width: $bp-md) {
		right: calc(var(--space) / 2);
		bottom: calc(var(--space) / 2);
	}
}

@media screen and (max-width: $bp-md) {
	@import '@/assets/styles/_mobile-nav';
}
@import '@/assets/styles/_the-header';
@import '@/assets/styles/_video';
@import '@/assets/styles/_vpage';

// elemets
@import '@/assets/styles/_form';


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #455dbf var(--color-white);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

*::-webkit-scrollbar-track {
	background: var(--color-secondary);
	border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
	border-radius: 8px;
	border: 0;
}
