:root {
	--color-primary: #42b983;
	--color-secondary: #2c3e50;
	// --color-gray: #6c6c6c;
	--color-dark: #1b1b27;
	--color-white: #fff;
	--color-light: #eaecef;
	--color-gray: #d7d7d7;
	--color-info: #85aeeb;
	--color-danger: #dd6d6d;
	--color-warning: #efa63a;
	--color-text: #2c3e50;
	--color-text-hover: #d4d4d4;
	--color-nav-link: #d4d4d4;
	--color-nav-link-hover: #fff;

	--header-h: 70px;

	--z-sticky: 50;
	--space: 40px;
	--rounded: 4px;
	--brightness: 1;
}

:root[data-theme="dark"] {
	--color-primary: #42b983;
	--color-secondary: #282836;
	// --color-gray: #6c6c6c;
	--color-dark: #1b1b27;
	--color-white: #10101b;
	--color-light: #15151e;
	--color-gray: #383838;
	--color-info: #6b8ab7;
	--color-danger: #dd6d6d;
	--color-warning: #efa63a;
	--color-text: #b4b4bb;
	--color-text-hover: rgb(230, 230, 230);
	--color-nav-link: #c7c7c7;
	--color-nav-link-hover: #dddddd;

	--header-h: 70px;

	--z-sticky: 50;
	--space: 40px;
	--rounded: 4px;
	--brightness: .7;
}
@import './components';

$bp-xl2: 1600px;
$bp-xl1: 1400px;
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
$bp-smx: 480px;

// normalize
@import './normalize.min.css';

// mixins
@import '@/assets/styles/_mixins';

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	padding-top: calc(var(--header-h) + (var(--space) / 2));
	min-height: 100vh;
	color: var(--color-text);
	background-color: var(--color-white);
	transition: all .4s;
	font-size: 1em;

	@media screen and (max-width: $bp-smx) {
		font-size: .9em;
	}

	&.overflow-y {overflow-y: hidden;}
}
a, button {
	transition: .2s ease, color .2s ease, border .2s ease;
}
h1 {
	// border: 1px solid var(--color-gray);
	margin: 1em 0;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	line-height: normal;

}
.container {
	padding: 0 calc(var(--space) / 2);
}

@media screen and (max-width: $bp-md) {
	@import '@/assets/styles/_mobile-nav';
}

// sections
@import '@/assets/styles/_the-header';
@import '@/assets/styles/_page';
@import '@/assets/styles/_video';
@import '@/assets/styles/_vpage';

// elements
@import '@/assets/styles/elements/_button';
@import '@/assets/styles/elements/_card';
@import '@/assets/styles/elements/_form';

// scrollbar
@import '@/assets/styles/elements/_scroll';
